<div>
  <div class="inline-flex place-items-center">
    <span class="text-lg pb-5 m-3"> Periode </span>
    <div class="m-3">
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          [(ngModel)]="startDate"
          [matDatepicker]="start"
          placeholder="Start Date"
          (dateInput)="dateStartInput($event.value)"
        />
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>
    </div>
    <span class="text-lg pb-5 m-3"> - </span>
    <div class="m-3">
      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input
          matInput
          [(ngModel)]="endDate"
          [matDatepicker]="end"
          placeholder="End Date"
          (dateInput)="dateEndInput($event.value)"
        />
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" style="width: 250px">
        <mat-label>Functional Location</mat-label>
        <mat-select
          [formControl]="functionalLocationForm"
          multiple
          disableOptionCentering
          (selectionChange)="selectFunctionalLocation($event.value)"
        >
          <mat-option *ngFor="let data of functionalLocation" [value]="data">{{
            data.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button
      (click)="displayReportTxn()"
      class="mx-10 rounded-xl border-1 bg-red-500 px-5 py-2 shadow-lg hover:bg-white animation ease-in-out duration-500"
    >
      Submit
    </button>
    </div>

   
  </div>
  <!-- <div class="overflow-x-auto">
    <table class="relative bg-slate-400 font-semibold font-sans rounded-md table-fixed w-max border-8" mat-table [dataSource]="dataSource">
      <thead class="border-8">
        <tr>
          <td colspan="3" class="bg-transparent"></td>
          <td colspan="4" class="bg-white">Waktu</td>
          <td colspan="9" class="bg-transparent"></td>
          <td colspan="3" class="bg-white">Pelaksana</td>
          <td colspan="4" class="bg-transparent"></td>
        </tr>
        <tr class="m-3 p-3 bg-white">
          <td class="p-3 w-fit whitespace-nowrap" matColumnDef="shift" mat-header-cell *matHeaderCellDef >Shift</td>
          <td class="p-3 w-fit whitespace-nowrap">Hari, Tanggal, Bulan</td>
          <td class="p-3 w-fit whitespace-nowrap">Jenis Pekerjaan</td>
          <td class="p-3 w-fit whitespace-nowrap">Informasi Masalah</td>
          <td class="p-3 w-fit whitespace-nowrap">Mulai Kerja</td>
          <td class="p-3 w-fit whitespace-nowrap">Selesai Kerja</td>
          <td class="p-3 w-fit whitespace-nowrap">Total Kerja</td>
          <td class="p-3 w-fit whitespace-nowrap">Plant Stop</td>
          <td class="p-3 w-fit whitespace-nowrap">Fungsional Lokasi</td>
          <td class="p-3 w-fit whitespace-nowrap">Sub Fungsional Lokasi</td>
          <td class="p-3 w-fit whitespace-nowrap">Mesin/Alat</td>
          <td class="p-3 w-fit whitespace-nowrap">Detail Mesin/Alat</td>
          <td class="p-3 w-fit whitespace-nowrap">Masalah</td>
          <td class="p-3 w-fit whitespace-nowrap">Penyebab</td>
          <td class="p-3 w-fit whitespace-nowrap">Bias</td>
          <td class="p-3 w-fit whitespace-nowrap">Tindakan</td>
          <td class="p-3 w-fit whitespace-nowrap">Pertama</td>
          <td class="p-3 w-fit whitespace-nowrap">Kedua</td>
          <td class="p-3 w-fit whitespace-nowrap">Tambahan</td>
          <td class="p-3 w-fit whitespace-nowrap">Kondisi</td>
          <td class="p-3 w-fit whitespace-nowrap">Alasan Bila Kondisi Belum Selesai</td>
          <td class="p-3 w-fit whitespace-nowrap">Catatan</td>
          <td class="p-3 w-fit whitespace-nowrap"></td>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td mat-cell *matCellDef="let element">{{ element.shift }}</td>
        </tr>
      </tbody>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div> -->

  <div >

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="reporttransactionid">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.reporttransactionid}} </td>
      </ng-container>
    
      <ng-container matColumnDef="shift">
        <th mat-header-cell *matHeaderCellDef> shift </th>
        <td mat-cell *matCellDef="let element"> {{element.shift}} </td>
      </ng-container>
    
      <ng-container matColumnDef="datecreated">
        <th mat-header-cell *matHeaderCellDef> datecreated </th>
        <td mat-cell *matCellDef="let element"> {{element.datecreated}} </td>
      </ng-container>
    
      <ng-container matColumnDef="jobtype">
        <th mat-header-cell *matHeaderCellDef> jobtype </th>
        <td mat-cell *matCellDef="let element"> {{element.jobtype}} </td>
      </ng-container>
    
      <ng-container matColumnDef="timeinformed">
        <th mat-header-cell *matHeaderCellDef> timeinformed </th>
        <td mat-cell *matCellDef="let element"> {{element.timeinformed}} </td>
      </ng-container>
    
      <ng-container matColumnDef="starttime">
        <th mat-header-cell *matHeaderCellDef> starttime </th>
        <td mat-cell *matCellDef="let element"> {{element.starttime}} </td>
      </ng-container>
    
      <ng-container matColumnDef="finishtime">
        <th mat-header-cell *matHeaderCellDef> finishtime </th>
        <td mat-cell *matCellDef="let element"> {{element.finishtime}} </td>
      </ng-container>
    
      <ng-container matColumnDef="totaltime">
        <th mat-header-cell *matHeaderCellDef> totaltime </th>
        <td mat-cell *matCellDef="let element"> {{element.totaltime}} </td>
      </ng-container>
      <ng-container matColumnDef="stoppagetime">
          <th mat-header-cell *matHeaderCellDef> totaltime </th>
          <td mat-cell *matCellDef="let element"> {{element.stoppagetime}} </td>
        </ng-container>
    
      <ng-container matColumnDef="functionallocation">
        <th mat-header-cell *matHeaderCellDef> functionallocation </th>
        <td mat-cell *matCellDef="let element"> {{element.functionallocation}} </td>
      </ng-container>
    
      <ng-container matColumnDef="subfunctionallocation">
        <th mat-header-cell *matHeaderCellDef> subfunctionallocation </th>
        <td mat-cell *matCellDef="let element"> {{element.subfunctionallocation}} </td>
      </ng-container>
    
      <ng-container matColumnDef="machine">
        <th mat-header-cell *matHeaderCellDef> machine </th>
        <td mat-cell *matCellDef="let element"> {{element.machine}} </td>
      </ng-container>
    
      <ng-container matColumnDef="detailmachine">
        <th mat-header-cell *matHeaderCellDef> detailmachine </th>
        <td mat-cell *matCellDef="let element"> {{element.detailmachine}} </td>
      </ng-container>
    
      <ng-container matColumnDef="problem">
        <th mat-header-cell *matHeaderCellDef> problem </th>
        <td mat-cell *matCellDef="let element"> {{element.problem}} </td>
      </ng-container>
    
      <ng-container matColumnDef="cause">
        <th mat-header-cell *matHeaderCellDef> cause </th>
        <td mat-cell *matCellDef="let element"> {{element.cause}} </td>
      </ng-container>
    
      <ng-container matColumnDef="bias">
        <th mat-header-cell *matHeaderCellDef> bias </th>
        <td mat-cell *matCellDef="let element"> {{element.bias}} </td>
      </ng-container>
    
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> action </th>
        <td mat-cell *matCellDef="let element"> {{element.action}} </td>
      </ng-container>
    
      <ng-container matColumnDef="executor1">
        <th mat-header-cell *matHeaderCellDef> executor1 </th>
        <td mat-cell *matCellDef="let element"> {{element.executor1}} </td>
      </ng-container>
    
      <ng-container matColumnDef="executor2">
        <th mat-header-cell *matHeaderCellDef> executor2 </th>
        <td mat-cell *matCellDef="let element"> {{element.executor2}} </td>
      </ng-container>
    
      <ng-container matColumnDef="executorextra">
        <th mat-header-cell *matHeaderCellDef> executorextra </th>
        <td mat-cell *matCellDef="let element"> {{element.executorextra}} </td>
      </ng-container>
    
      <ng-container matColumnDef="condition">
        <th mat-header-cell *matHeaderCellDef> condition </th>
        <td mat-cell *matCellDef="let element"> {{element.condition}} </td>
      </ng-container>
    
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef> reason </th>
        <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
      </ng-container>
    
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> note </th>
        <td mat-cell *matCellDef="let element"> {{element.note}} </td>
      </ng-container>

      <th>
        <ng-container matColumnDef="option">
          <th mat-header-cell *matHeaderCellDef>Option</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <span>Edit</span>
              </button>
              <button
                mat-menu-item
                (click)="openDialog(element.reporttransactionid)"
              >
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
      </th>
      <tr mat-header-row *matHeaderRowDef="['state', 'company', 'summer']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
