<div class="font-sans">
  <div class="p-5">
    <div class="font-[700] text-[28px] text-[#226A69]">
      Report Maintenance CPC Alam Sutera
    </div>
    <div
      class="font-[400] text-[20px] text-[#65748B] py-3"
      *ngIf="lastUpdateDate != ''; else elseBlock"
    >
      Last update {{ lastUpdateDate }}
    </div>

    <ng-template #elseBlock>
      <div id="else" class="font-[400] text-[20px] text-[#65748B] py-3">
        Last Update -</div
    ></ng-template>
  </div>
  <div
    class="relative inline-flex place-items-center w-full bg-transparent px-5"
  >
    <span class="text-sm pb-5 ml-3"> Periode </span>
    <div class="m-4">
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          [(ngModel)]="startDate"
          [matDatepicker]="start"
          placeholder="Start Date"
          (dateInput)="dateStartInput($event.value)"
        />
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>
    </div>
    <span class="text-lg pb-5 m-5"> - </span>
    <div class="m-3">
      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input
          matInput
          [(ngModel)]="endDate"
          [matDatepicker]="end"
          placeholder="End Date"
          (dateInput)="dateEndInput($event.value)"
        />
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>
    </div>
    <span class="text-sm pb-5 m-3"> Fungsional Lokasi</span>
    <div>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="functionalLocationId">
          <mat-option
            *ngFor="let element of functionalLocation"
            [value]="element.functionallocationid"
            (click)="selectFunctionalLocation()"
          >
            {{ element.name }}
          </mat-option>
          <mat-option value="All" (click)="selectFunctionalLocation()"
            >All</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="absolute right-0 px-4">
      <button
        (click)="exportExcel()"
        class="rounded-3xl border-1 bg-red-500 py-2 shadow-lg animation ease-in-out duration-500"
      >
        <div class="inline-flex place-item-center">
          <div class="px-4 pt-1.5">
            <img src="../../assets/icons/download.png" width="15" />
          </div>
          <span class="px-3 pt-1 font-medium text-white"> Export as XLS </span>
        </div>
      </button>
    </div>
  </div>
  <div class="px-5 bg-white" id="mainTxnTable">
    <div class="overflow-x-auto px-3">
      <table>
        <thead>
          <tr>
            <td colspan="3"></td>
            <td
              colspan="4"
              class="text-center rounded-md bg-[#D0E1E1] font-[700] text-[14px] text-[#226A69]"
            >
              Waktu
            </td>
            <td colspan="8"></td>
            <td
              colspan="3"
              class="text-center rounded-md bg-[#D0E1E1] font-[700] text-[14px] text-[#226A69]"
            >
              Pelaksana
            </td>
            <td colspan="3"></td>
          </tr>
          <tr class="border-b-2 border-cyan-800">
            <td class="px-5 pb-2 whitespace-nowrap text-left">Shift</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">
              Hari, Tanggal, Bulan
            </td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">
              Jenis Pekerjaan
            </td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">
              Informasi Masalah
            </td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Mulai Kerja</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Selesai Kerja</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Total Kerja</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Plant Stop</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">
              Fungsional Lokasi
            </td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">
              Sub Fungsional Lokasi
            </td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Mesin/Alat</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">
              Detail Mesin/Alat
            </td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Masalah</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Penyebab</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Bias</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Tindakan</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Pertama</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Kedua</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Tambahan</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Kondisi</td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">
              Alasan Bila Kondisi Belum Selesai
            </td>
            <td class="px-5 pb-2 whitespace-nowrap text-left">Catatan</td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let elemen of reportTxns
                | paginate
                  : {
                      itemsPerPage: tableSize,
                      currentPage: page,
                      totalItems: count
                    }
            "
            class="border-b border-cyan-800"
          >
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.shift }}</td>
            <td class="whitespace-nowrap pl-4 py-2">
              {{ formatDate(elemen.datecreated) }}
            </td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.jobtype }}</td>
            <td class="whitespace-nowrap pl-4 py-2">
              {{ formatDateTimeHHMM(elemen.timeinformed) }}
            </td>
            <td class="whitespace-nowrap pl-4 py-2">
              {{ formatDateTimeHHMM(elemen.starttime) }}
            </td>
            <td class="whitespace-nowrap pl-4 py-2">
              {{ formatDateTimeHHMM(elemen.finishtime) }}
            </td>
            <td class="whitespace-nowrap pl-4 py-2">
              {{ formatTimeHHMM(elemen.totaltime) }}
            </td>
            <td class="whitespace-nowrap pl-4 py-2">
              {{ formatTimeHHMM(elemen.stoppagetime) }}
            </td>
            <td class="whitespace-nowrap pl-4 py-2">
              {{ elemen.functionallocation }}
            </td>
            <td class="whitespace-nowrap pl-4 py-2">
              {{ elemen.subfunctionallocation }}
            </td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.machine }}</td>
            <td class="whitespace-nowrap pl-4 py-2">
              {{ elemen.detailmachine }}
            </td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.problem }}</td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.cause }}</td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.bias }}</td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.action }}</td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.executor1 }}</td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.executor2 }}</td>
            <td class="whitespace-nowrap pl-4 py-2">
              {{ elemen.executorextra }}
            </td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.condition }}</td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.reason }}</td>
            <td class="whitespace-nowrap pl-4 py-2">{{ elemen.note }}</td>
            <td class="whitespace-nowrap pl-4 py-2">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <span>Edit</span>
                </button>
                <button
                  mat-menu-item
                  (click)="openDialog(elemen.reporttransactionid)"
                >
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="inline-flex place-items-center float-right">
      <span class="px-3"> Show </span>
      <select [(ngModel)]="tableSize" class="px-3 border-2 rounded-md">
        <option *ngFor="let elemen of tableSizes" [value]="elemen">
          {{ elemen }}
        </option>
      </select>
      <pagination-controls
        class="my-pagination pt-3"
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onPageChange($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
